:root{
    --main-color: red;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: 0;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;

}

body{
    background-color: var(--bg);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: #000; /* ou rgba(0,0,0,0.8) para semi-transparente */
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: white;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover{
    width: 40px;
    height: 40px;
}

.btn{
    background: var(--main-color);
    color: white;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover{
    letter-spacing: 0.1rem;
    transition: 0.3s;
}

.home-container{
    background: url("./img/background4.png");
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 100px); /* 100px é a altura da navbar */
    padding-top: 100px;
}


.home-container section {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 100px); /* compensação da altura do header */
    padding-top: 100px;
}


.content{
    max-width: 60rem;
}

.content h3{
    color: #fff;
    font-size: 4rem;
}

.content p{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
}

.title{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span{
    color: #fff;
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.about .row .content{
    padding: 2rem;

}

.about .row .content h3{
    font-size: 3rem;
    color: white;
}

.about .row .content p{
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    line-height: 1.8;
}


.address {
    text-align: center;
    padding: 40px;
}

.address iframe{
    border-radius: 20px;
}

.rodape{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    border-top: var(--border);
    padding: 20px;

}

